@model List<string>
@{
    ViewData["Title"] = "Countries We Tour";
}



<div class="card">
    <div class="card-header text-center">
        <h1>Countries we tour</h1>
        <p>We tour in the following countries:</p>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                <div class="row">
                    <div class="column" style="margin-left: 150px">
                        <dl>
                            <dt>The Netherlands</dt>
                            <dd>Amsterdam:</dd> <a href="https://www.google.com/maps/d/embed?mid=1KfYsZZnlcNAssHemzsk7FOw0Th8">route</a>
                            <dd>The Hague:</dd><a href="https://www.google.com/maps/d/embed?mid=18V00KTx9oJuNi25oggfmGQQlXW4">route</a>
                            <dd>Utrecht:</dd> <a href="https://www.google.com/maps/d/embed?mid=1TI1KCpH8cBif6Iy8k_k2QKeNPcA">route</a>
                            <dd>Rotterdam:</dd> <a href="https://www.google.com/maps/d/embed?mid=1BSS-W6mO7V8oE9DYJSdZpZa2IQ0">route</a>
                            <dd>Maastricht:</dd> <a href="https://www.google.com/maps/d/embed?mid=1qpwR3pVNx2rnTFJzZnvQAvEN7k0">route</a>
                            <dd>Delft:</dd> <a href="https://www.google.com/maps/d/embed?mid=1AaPe8dO1FyT2g2geL8R6tFAflwc">route</a>
                            <dt>Germany
                            <dd>Berlin:</dd> <a href="">route</a>
                            <dd>Frankfurt-am-Main:</dd> <a href="">route</a>
                            <dd>Leipzig:</dd> <a href="">route</a>
                            <dd>Dresden:</dd> <a href="">route</a>
                            <dd>Munich:</dd> <a href="">route</a>
                            <dt>France</dt>
                            <dd>Paris:</dd> <a href="https://www.google.com/maps/d/embed?mid=1HRM5fMHRaftK8UlUKiWbSDYaVZc&hl=en">route</a>
                            <dd>Toulouse:</dd> <a href="https://www.google.com/maps/d/u/0/embed?mid=1xAZM2DRnw5ynBvU-JbQ0SQA4VZX76i9U">route</a>
                            <dd>Lyon:</dd> <a href="">route</a>
                            <dd>Marseille:</dd> <a href="https://www.google.com/maps/d/embed?mid=1-1eRYYErGbJkkyNxp7nw72_brSs&hl=fr">route</a>
                            <dd>Nice:</dd> <a href="https://www.google.com/maps/d/u/0/embed?mid=1aTbpS5spHKlTPTZkEiKdHO6h_H_7i2TK">route</a>
                            <dd>Lille:</dd> <a href="https://www.google.com/maps/d/u/0/embed?mid=14K1-dKIooGTWYkr65BwKHP6E6WLYdFDi">route</a>
                            <dt>United Kingdom</dt> 
                            <dd>London:</dd> <a href="https://www.google.com/maps/d/embed?mid=18znyRzW95mx0tbWTjKYfl9uDuU4&hl=en">route</a>
                            <dd>Manchester:</dd> <a href="https://www.google.com/maps/d/embed?mid=1MKe9SGh_l6bpZcGY2blrhWcdej4&hl=en">route</a>
                            <dd>Liverpool:</dd> <a href="https://www.google.com/maps/d/embed?mid=1LRlTNoTwM_2zmj7uIQCvE5Qx7fM&hl=en">route</a>
                            <dd>Cardiff:</dd> <a href="https://www.google.com/maps/d/embed?mid=1KACmZUrGD22Ma_NizggQjEm3tkA&hl=en">route</a>
                            <dt>Italy</dt> 
                            <dd>Rome:</dd> <a href="https://www.google.com/maps/d/embed?mid=17DqPo2qfw9ZBLrSglkNYw5qLsvQ&hl=en">route</a>
                            <dd>Milan:</dd> <a href="https://www.google.com/maps/d/embed?mid=1fwm7QnexexHCvD2owzE6lwfkFeQ&hl=en">route</a>
                            <dd>Turin:</dd> <a href="https://www.google.com/maps/d/embed?mid=1CLiSURocfYdt4lPzQGFldxNUaTg&hl=nl">route</a>
                            <dd>Florence:</dd> <a href="https://www.google.com/maps/d/u/0/embed?mid=13QsUk6N54ctAM5Hp8YfaBY-zGeMuTHOZ">route</a>
                            <dd>Naples:</dd> <a href="https://www.google.com/maps/d/u/0/embed?mid=1O36wqxwY-7YDMWzeEs8oE740CW_IUUEb">route</a>
                            <dd>Venice:</dd> <a href="https://www.google.com/maps/d/u/0/embed?mid=17ZTOBaMK54z4pcbel0lGXSprLtC2ifQd">route</a>
                            <dt>Austria</dt>
                            <dd>Vienna:</dd> <a href="https://www.google.com/maps/d/embed?mid=1Mbqtu3Tw1gVKbAwp-GP79rJeDVQ&hl=en">route</a>
                            <dd>Salzburg:</dd> <a href="https://www.google.com/maps/d/embed?mid=10RtXPSvpYRvwmrDiAoa5o-mz9gg">route</a>
                            <dd>Innsbruck:</dd> <a href="https://www.google.com/maps/d/u/0/embed?mid=1kMnoPu0TKu1f1s1BtbuZLuyiSxH0VY_1">route</a>
                            <dt>Switserland</dt>
                            <dd>Bern:</dd> <a href="https://www.google.com/maps/d/embed?mid=1w_XGgyCEw6Mii2li3CTZuhKmLwc">route</a>
                            <dd>Basel:</dd> <a href="https://www.google.com/maps/d/embed?mid=1f42dM0zdSQIVu5LBl-BqlRmSe9I&hl=en">route</a>
                            <dd>Geneva:</dd> <a href="https://www.google.com/maps/d/embed?mid=1eSZbik5KMzclCPad6MiupEBPZHo">route</a>
                            <dd>Luzern:</dd> <a href="https://www.google.com/maps/d/u/0/embed?mid=1iuL3V-LzjRXWxjBaNF_ktQ2mYf73fC6r">route</a>
                            <dd>Lugano:</dd> <a href="https://www.google.com/maps/d/u/0/embed?mid=1qbRz6A-cRLpRqXQpnTSNJWM9NXCuOyjw">route</a>
                            <dt>Greece</dt>
                            <dd>Athens:</dd> <a href="https://www.google.com/maps/d/embed?mid=1JAc66Q_1_1T5YlM6cTGjUaLUv3Y&hl=en">route</a>
                            <dd>Delphi:</dd> <a href="https://www.google.com/maps/d/embed?mid=1oROIEEDh6S7ZSWYgg6d76E99kUg">route</a>
                            <dd>Thessaloniki:</dd> <a href="https://www.google.com/maps/d/embed?mid=1gpiCqcRohwmTZzxcd6zssI2Chz8&hl=en">route</a>
                            <dd>Sparta:</dd> <a href="https://www.google.com/maps/d/embed?mid=1ITk_Mc_K76-EQzXIlqhSnn7m5UdtmMb2">route</a>
                            <dd>Heraklion:</dd> <a href="https://www.google.com/maps/d/embed?mid=1pDfS7JuIar8QXtHOD8WTNHpObUUA4e8p">route</a>
                            <dd>Corfu:</dd> <a href="https://www.google.com/maps/d/embed?mid=1OJFcYNR7YODLQoS3he5ZjDx2-3Y">route</a>
                            <dd>Skiathos:</dd> <a href="https://www.google.com/maps/d/embed?mid=1PcjwxbHNEatZYkdruEb-dHRSDehCCaL4">route</a>
                            <dd>Santorini</dd> <a href="https://www.google.com/maps/d/embed?mid=1YGvg6CHSanG_REIR8wObMNq71aQ">route</a>
                            <dd>Rhodos:</dd> <a href="https://www.google.com/maps/d/embed?mid=1NEUm8G8R4_ZEF_r0sxy0X0-mXD4">route</a>
                            <dd>Kastellorizo:</dd> <a href="https://www.google.com/maps/d/embed?mid=1SVHMAfT83QMZ4KHW4sjmpLn_GbY&hl=en_US">route</a>
                            <dt>Cyprus</dt>
                            <dd>Nicosia:</dd> <a href="https://www.google.com/maps/d/embed?mid=1Hbqj602t7GT_0R1gj3XA9BNvvKM">route</a>
                            <dd>Paphos:</dd> <a href="https://www.google.com/maps/d/embed?mid=1Ap09LkL1v8q8ibLxS5vy0PS4ER0&hl=en">route</a>
                            <dt>Spain</dt>
                            <dd>Madrid:</dd> <a href="https://www.google.com/maps/d/embed?mid=1vM_oe-OGtb9S8Kl9gP_FGBO5No4">route</a>
                            <dd>Barcelona:</dd> <a href="https://www.google.com/maps/d/embed?mid=1EumTCMHIcpyyTwvlUS_lTxGTnQg&hl=en">route</a>
                            <dd>Valencia:</dd> <a href="https://www.google.com/maps/d/embed?mid=17kT_vb_6r4QKGjwHyWtDaJMVPjU">route</a>
                            <dd>Málaga:</dd> <a href="https://www.google.com/maps/d/embed?mid=10tN6rKPhvYyWYYpV6_KQpMUckDY">route</a>
                            <dt>Canada</dt> 
                            <dd>Ottowa:</dd> <a href="https://www.google.com/maps/d/embed?mid=13_WQetDoRJaQO_JgjUgCTSarEQo">route</a>
                            <dd>Montréal:</dd> <a href="https://www.google.com/maps/d/embed?mid=1D9B9a5CvIp0JEC28KZJJR681wrg">route</a>
                            <dd>Toronto:</dd> <a href="https://www.google.com/maps/d/embed?mid=1m3dPAHWiWFjAMBJKTgzSd1y96yQ&hl=en">route</a>
                            <dd>Québec:</dd> <a href="https://www.google.com/maps/d/embed?mid=1pMcq0JZf4bmWiFWgXPxJLwhYzHE&hl=en">route</a>
                            <dd>Vancouver:</dd> <a href="https://www.google.com/maps/d/embed?mid=1tkUzppw4OoMMoqWHJWz-Oe_YevI&hl=en">route</a>
                            <dd>Halifax:</dd> <a href="https://www.google.com/maps/d/embed?mid=1u-OSl1YgPg3glLVo7_H1-qqmSJQ">route</a>
                            <dt>United States</dt>
                            <dd>Washington, DC:</dd> <a href="https://www.google.com/maps/d/embed?mid=1gfdfWN5L6oVqc5Jf7Iud6uFvoPs">route</a>
                            <dd>New York City, NY:</dd> <a href="https://www.google.com/maps/d/embed?mid=1RUBgq2CLFQnfBR6cT8xAJPDz2Xw">route</a>
                            <dd>Las Vegas, NV:</dd> <a href="https://www.google.com/maps/d/embed?mid=1vFOZ5Eo14626zpH12cHqgRiv4oY">route</a>
                            <dd>Los Angeles, CA:</dd> <a href="https://www.google.com/maps/d/embed?mid=1JNnNCvD5GK9wcHAX5HHssP2-pqA&hl=en">route</a>
                            <dd>Chicago, IL:</dd> <a href="https://www.google.com/maps/d/embed?mid=1QHjVa35BbQc_-IMDCbZeoKdMXLw&hl=en">route</a>
                            <dd>Seattle, WA:</dd> <a href="https://www.google.com/maps/d/embed?mid=16LNghtIMuYfvU7PJpyEWK5hQP7Q">route</a>
                            <dt>Mexico</dt>
                            <dd>Mexico City:</dd> <a href="https://www.google.com/maps/d/embed?mid=1l34qQUJDf0OUPYKvYv30v5yXmrw">route</a>
                            <dd>Cancun:</dd> <a href="https://www.google.com/maps/d/embed?mid=1jWok-woA5-hgqQ_bXlwtaQovGec">route</a>
                            <dd>Monterrey:</dd> <a href="https://www.google.com/maps/d/embed?mid=1cMt5ANW6osNeZv4W9U2JJdlkEAY">route</a>
                            <dt>Brazil</dt> 
                            <dd>Brasília:</dd> <a href="https://www.google.com/maps/d/embed?mid=1MStrRHDq24l5L41yRAJycXzCwKI">route</a>
                            <dd>Rio de Janeiro:</dd> <a href="https://www.google.com/maps/d/embed?mid=1FMPIrwRqv0mz_Mweu22qyK_lBu4">route</a>
                            <dd>São Paolo:</dd> <a href="https://www.google.com/maps/d/embed?mid=1hkilctCd0b6pagz6zkSPEhuSrng">route</a>
                            <dt>Ecuador</dt>
                            <dd>Quito:</dd> <a href="https://www.google.com/maps/d/embed?mid=19pnbbVg60rxYf3jGQEoTFOmAiKE">route</a>
                            <dd>Baños:</dd> <a href="https://www.google.com/maps/d/embed?mid=1YN27jjb9JoVigaftEEebYlCNqRM">route</a>
                            <dd>Quilotoa:</dd> <a href="https://www.google.com/maps/d/embed?mid=1_6WYLkq0aPEDhFMS8REydYGtDzQ">route</a>
                            <dt>Argentina</dt>
                            <dd>Buenos Aires:</dd> <a href="https://www.google.com/maps/d/embed?mid=1CGoDOSkwwyllw9UEBo1nZaze4K0">route</a>
                            <dd>Cordoba:</dd> <a href="https://www.google.com/maps/d/u/0/embed?mid=1HygS55wo4udWjtcpyw5giyD3dzt1D8aA">route</a>
                            <dd>La Plata:</dd> <a href="https://www.google.com/maps/d/u/0/embed?mid=1QB9fYvZBet7Ex05BOEB9jF5l360ONtDz">route</a>
                        </dl>
                    </div>
                    <div class="column" style="margin-left: 150px">
                        <dl>
                            <dt>South Africa</dt>
                             <dd>Cape Town:</dd> <a href="https://www.google.com/maps/d/embed?mid=1Na_nwc8EO4T-EmwcC9alKhZOuJE&hl=en">route</a>
                             <dd>Johannesburg:</dd> <a href="https://www.google.com/maps/d/embed?mid=14eqGuBGks0j8SvBI0Mm3Besx7As&hl=en">route</a>
                            <dt>Israel</dt>
                             <dd>Tel Aviv:</dd> <a href="https://www.google.com/maps/d/embed?mid=1YbwN7TyEDqHtEa0pxJw3sUGAuT8">route</a>
                             <dd>Jerusalem:</dd> <a href="https://www.google.com/maps/d/embed?mid=1t5xrXGfF2StTKE-QbG5pKdY97RU">route</a>
                             <dd>Haifa:</dd> <a href="https://www.google.com/maps/d/embed?mid=1BHMoI9pWb2ew6PWxkVYWTmaGIoo">route</a>
                             <dd>Caesarea:</dd> <a href="https://www.google.com/maps/d/embed?mid=1BHMoI9pWb2ew6PWxkVYWTmaGIoo">route</a>
                            <dt>United Arab Emirates</dt>
                             <dd>Abu Dhabi:</dd><a href="https://www.google.com/maps/d/embed?mid=15HFYmQCja9rZ1wafKoT-vFW6c_w&hl=en">route</a>
                             <dd>Dubai:</dd><a href="https://www.google.com/maps/d/embed?mid=1jKZH_h2UAijNBeIE1cvW-a4NW2E">route</a>
                            <dt>Egypt</dt>
                             <dd>Cairo:</dd><a href="https://www.google.com/maps/d/embed?mid=1OmN4QSiEavgWRGq7XWFOKukm5PVUWEzN">route</a>
                             <dd>Luxor:</dd><a href="https://www.google.com/maps/d/embed?mid=1o_JYTdI89Gj5A0qIzxwMQKeHxLI">route</a>
                             <dd>Aswan:</dd><a href="https://www.google.com/maps/d/u/0/embed?mid=1dDXN--44kVnRWCiKp-kkh5QtE3LF6H0d">route</a>
                             <dd>Abu Simbel:</dd><a href="https://www.google.com/maps/d/embed?mid=1eUNnmNVUSMqd_qrbWH8Apa4a4rs">route</a>
                            <dt>Turkey</dt>
                             <dd>Istanbul:</dd><a href="https://www.google.com/maps/d/embed?mid=1WsyWF3CXrR3xNpUGZz2IFSg65KM&hl=en">route</a>
                             <dd>Ankara:</dd><a href="https://www.google.com/maps/d/embed?mid=18LniVygEIs9oNDR9YeTlArdPoK4">route</a>
                             <dd>Izmir:</dd><a href="https://www.google.com/maps/d/embed?mid=1WI3bWmrXtlhk_ZY7E7YpiJvMKfAjk9Sr">route</a>
                             <dd>Bursa:</dd><a href="https://www.google.com/maps/d/embed?mid=13xPqwBLoVE5x4T2KErStYruCrwQ&hl=en">route</a>
                             <dd>Antalya:</dd><a href="https://www.google.com/maps/d/embed?mid=1qZ7LwTAXKLGW-Wj14vRBDGHsTrs&hl=nl">route</a>
                            <dt>Jordan</dt>
                             <dd>Petra:</dd><a href="https://www.google.com/maps/d/embed?mid=1qcDFLsOgZqZ58eycnZVGdrrLG5o">route</a>
                            <dt>Morocco</dt><a href="">route</a>
                             <dd>Rabat:</dd><a href="https://www.google.com/maps/d/embed?mid=12g41v1F-iLltK5xaC5yN5Nq703M">route</a>
                             <dd>Marrakech:</dd><a href="https://www.google.com/maps/d/embed?mid=1sfmLA34Jvr0N6_ZMbPpU6p7mnfg&hl=en">route</a>
                             <dd>Casablanca:</dd><a href="https://www.google.com/maps/d/embed?mid=11-hwubvP8RYfMwJRJHaxIyHyo8g&hl=en">route</a>
                            <dt>Russia</dt>
                             <dd>Moscow:</dd><a href="https://www.google.com/maps/d/embed?mid=1Ivqqkr3ikBBECDNsgXY_MlxU5No">route</a>
                             <dd>Saint Petersburg:</dd><a href="https://www.google.com/maps/d/embed?mid=1myKBrCbAEBGexlnmoH8oKZlkMOI&hl=en">route</a>
                             <dd>Kazan:</dd><a href="https://www.google.com/maps/d/u/0/embed?mid=1CXVTP6z9n4ZiJzWvqZgpFwpII5PVC8k2">route</a>
                             <dd>Samara:</dd><a href="https://www.google.com/maps/d/u/0/embed?mid=1e_bI7rERAV3E65fAMDd-HjHzwe-dXURV">route</a>
                             <dd>Sochi:</dd><a href="https://www.google.com/maps/d/u/0/embed?mid=1U1iypjhYr9sNMAQEN4oFPFibznIMR7jh">route</a>
                            <dt>Nigeria</dt>
                             <dd>Lagos:</dd><a href="https://www.google.com/maps/d/embed?mid=1vWRlcH4SHRFkrt_PUT7cOkHM_m6NQBkl">route</a>
                        </dl>
                    </div>
                    <div class="column" style="margin-left: 150px">
                        <dl>
                            <dt>India</dt>
                             <dd>Mumbai:</dd><a href="https://www.google.com/maps/d/embed?mid=19-VRsik4A8goeV0H51W0e8pn5qg">route</a>
                             <dd>New Delhi:</dd><a href="https://www.google.com/maps/d/embed?mid=1mBx-ngXxXsv6jR1c8-ZasDHIe0w">route</a>
                             <dd>Calcutta:</dd><a href="https://www.google.com/maps/d/embed?mid=1DvpD403e-_oG4EkC817DLVvJXco&hl=en">route</a>
                            <dt>South Korea</dt>
                             <dd>Seoul:</dd><a href="https://www.google.com/maps/d/embed?mid=1tkOgQmT1Z61gIonWsfrkYqSDcGU">route</a>
                            <dt>Vietnam</dt>
                             <dd>Hanoi:</dd><a href="https://www.google.com/maps/d/embed?mid=1l0SdrIYTPVMCtrvSfUzsAoFBoQg&hl=en">route</a>
                             <dd>Ho Chi Minh City:</dd><a href="https://www.google.com/maps/d/embed?mid=1IPp8JEozOseXcZ42sTJnOFhuxhs">route</a>
                             <dd>Hoi An:</dd><a href="https://www.google.com/maps/d/embed?mid=1Vjgkxmn728wLxag-n9L4MAZ1ZSQ">route</a>
                            <dt>Australia</dt>
                             <dd>Melbourne:</dd><a href="https://www.google.com/maps/d/embed?mid=1KhTfdb60cEJeylsMOWghF-ElmUA">route</a>
                             <dd>Sydney:</dd><a href="https://www.google.com/maps/d/embed?mid=1b9QvQwZoCSuTvRu-7ZdxXwt0_Eg&hl=en">route</a>
                             <dd>Brisbane:</dd><a href="https://www.google.com/maps/d/embed?mid=18dZV2gvmNOPfVnR1VUjlnBSzHyU">route</a>
                            <dt>Thailand</dt>
                             <dd>Pattaya:</dd><a href="https://www.google.com/maps/d/embed?mid=1aAuqA309JghCg0WiYJ6wqEqb3t0">route</a>
                            <dt>Indonesia</dt>
                             <dd>Jakarta:</dd><a href="https://www.google.com/maps/d/u/0/embed?mid=18-tnKt4uwEFOZ5Llke7xcVvFPtsjhKtj">route</a>
                             <dd>Jayapura:</dd><a href="https://www.google.com/maps/d/u/0/embed?mid=1uXbbMAMdK685ZicEU6gX0ggqwoEz05Mx">route</a>
                             <dd>Bandung:</dd><a href="https://www.google.com/maps/d/u/0/embed?mid=1awemU5VyuvHXSIxJl79DOJr4Bvs33Ojy">route</a>
                            <dt>China</dt>
                             <dd>Beijing:</dd><a href="https://www.google.com/maps/d/embed?mid=1ttD4oqjd-6hAiBZJODZOZe92cpQ&hl=en">route</a>
                             <dd>Shanghai:</dd><a href="https://www.google.com/maps/d/embed?mid=1r6EaZdxhF5GRnVxx9zi8dy9FdxM">route</a>
                             <dd>Guangzhou:</dd><a href="https://www.google.com/maps/d/embed?mid=1dcQO4Z1LDtA7ZP5qqq5euY_5vy0&hl=en">route</a>
                             <dd>Xiamen:</dd><a href="https://www.google.com/maps/d/u/0/embed?mid=1o15pCYJncYuOpNXAvVk-i3DNnU_HeROk">route</a>
                            <dt>Hong Kong:</dt> <a href="https://www.google.com/maps/d/embed?mid=1Ih50RsWRsCIfGEYvOSubRzQFK54&hl=en">route</a>
                            <dt>Japan</dt>
                             <dd>Tokyo:</dd><a href="https://www.google.com/maps/d/embed?mid=1YcOavyoLCOE7rvzhQj8sBUhxoEI&hl=en">route</a>
                             <dd>Osaka:</dd><a href="https://www.google.com/maps/d/embed?mid=1DdG6jAZPv2Ci1SzVHPt6KFo0ank">route</a>
                             <dd>Kyoto:</dd><a href="https://www.google.com/maps/d/embed?mid=1v1K8dcaXOaUuN8J7m0xcUwGidnY">route</a>
                            <dt>Taiwan</dt>
                             <dd>Taipei:</dd><a href="https://www.google.com/maps/d/u/0/embed?mid=1p9f_4RGruFUoefJ_MM0lcb8V5lGQa5Wv">route</a>
                            <dt>Malasia</dt>
                             <dd>Kuala Lumpur:</dd><a href="https://www.google.com/maps/d/embed?mid=1BoUv6Jc_1vNaLxHigkAxGtbvOrY">route</a>
                        </dl>
                    </div>
                </div>
            </p>
        </blockquote>
    </div>
</div>
<div class="text-center card">
    @foreach (string smth in Model)
    {
        <p>@smth</p>
    }
</div>