@model List<string>
@{
    ViewData["Title"] = "Countries We Tour";
}



<div class="card">
    <div class="card-header text-center">
        <h1>Countries we tour</h1>
        <p>We tour in the following countries:</p>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                <div class="row">
                    <div class="column" style="margin-left: 150px">
                        <dl>
                            <dt>The Netherlands</dt>
                             <dd>Amsterdam:</dd>
                             <dd>The Hague:</dd>
                             <dd>Utrecht:</dd>
                             <dd>Rotterdam:</dd>
                             <dd>Maastricht:</dd>
                             <dd>Delft:</dd>
                            <dt>Germany</dt>
                             <dd>Berlin:</dd>
                             <dd>Frankfurt-am-Main:</dd>
                             <dd>Leipzig:</dd>
                             <dd>Dresden:</dd>
                             <dd>Munich:</dd>
                            <dt>France</dt>
                             <dd>Paris:</dd>
                             <dd>Toulouse:</dd>
                             <dd>Lyon:</dd>
                             <dd>Marseille:</dd>
                             <dd>Nice:</dd>
                             <dd>Lille:</dd>
                            <dt>United Kingdom</dt>
                             <dd>London:</dd>
                             <dd>Manchester:</dd>
                             <dd>Liverpool:</dd>
                             <dd>Cardiff:</dd>
                            <dt>Italy</dt>
                             <dd>Rome:</dd>
                             <dd>Milan:</dd>
                             <dd>Turin:</dd>
                             <dd>Florence:</dd>
                             <dd>Naples:</dd>
                             <dd>Venice:</dd>
                            <dt>Austria</dt>
                             <dd>Vienna:</dd>
                             <dd>Salzburg:</dd>
                             <dd>Innsbruck:</dd>
                            <dt>Switserland</dt>
                             <dd>Bern:</dd>
                             <dd>Zürich:</dd>
                             <dd>Basel:</dd>
                             <dd>Geneva:</dd>
                             <dd>Luzern:</dd>
                             <dd>Lugano:</dd>
                            <dt>Greece</dt>
                             <dd>Athens:</dd>
                             <dd>Delphi:</dd>
                             <dd>Thessaloniki:</dd>
                             <dd>Sparta:</dd>
                             <dd>Heraklion:</dd>
                             <dd>Corfu:</dd>
                             <dd>Skiathos:</dd>
                             <dd>Santorini</dd>
                             <dd>Rhodos:</dd>
                             <dd>Kastellorizo:</dd>
                            <dt>Cyprus</dt>
                             <dd>Nicosia:</dd>
                             <dd>Paphos:</dd>
                            <dt>Spain</dt>
                             <dd>Madrid:</dd>
                             <dd>Barcelona:</dd>
                             <dd>Valencia:</dd>
                             <dd>Málaga:</dd>
                            <dt>Canada</dt>
                             <dd>Ottowa:</dd>
                             <dd>Montréal:</dd>
                             <dd>Toronto:</dd>
                             <dd>Québec:</dd>
                             <dd>Vancouver:</dd>
                             <dd>Halifax:</dd>
                            <dt>United States</dt>
                             <dd>Washington, DC:</dd>
                             <dd>New York City, NY:</dd>
                             <dd>Las Vegas, NV:</dd>
                             <dd>Los Angeles, CA:</dd>
                             <dd>Chicago, IL:</dd>
                             <dd>Seattle, WA:</dd>
                            <dt>Mexico</dt>
                             <dd>Mexico City:</dd>
                             <dd>Cancun:</dd>
                             <dd>Monterrey:</dd>
                            <dt>Brazil</dt>
                             <dd>Brasília:</dd>
                             <dd>Rio de Janeiro:</dd>
                             <dd>São Paolo:</dd>
                            <dt>Ecuador</dt>
                             <dd>Quito:</dd>
                             <dd>Baños:</dd>
                             <dd>Quilotoa:</dd>
                            <dt>Argentina</dt>
                             <dd>Buenos Aires:</dd>
                             <dd>Cordoba:</dd>
                             <dd>La Plata:</dd>
                        </dl>
                    </div>
                    <div class="column" style="margin-left: 150px">
                        <dl>
                            <dt>South Africa</dt>
                             <dd>Cape Town:</dd>
                             <dd>Johannesburg:</dd>
                            <dt>Israel</dt>
                             <dd>Tel Aviv:</dd>
                             <dd>Jerusalem:</dd>
                             <dd>Haifa:</dd>
                             <dd>Caesarea:</dd>
                            <dt>United Arab Emirates</dt>
                             <dd>Abu Dhabi:</dd>
                             <dd>Dubai:</dd>
                            <dt>Egypt</dt>
                             <dd>Cairo:</dd>
                             <dd>Luxor:</dd>
                             <dd>Aswan:</dd>
                             <dd>Abu Simbel:</dd>
                            <dt>Turkey</dt>
                             <dd>Istanbul:</dd>
                             <dd>Ankara:</dd>
                             <dd>Izmir:</dd>
                             <dd>Bursa:</dd>
                             <dd>Antalya:</dd>
                            <dt>Jordan</dt>
                             <dd>Petra:</dd>
                            <dt>Morocco</dt>
                             <dd>Rabat:</dd>
                             <dd>Marrakech:</dd>
                             <dd>Casablanca:</dd>
                            <dt>Russia</dt>
                             <dd>Moscow:</dd>
                             <dd>Saint Petersburg:</dd>
                             <dd>Kazan:</dd>
                             <dd>Samara:</dd>
                             <dd>Sochi:</dd>
                            <dt>Nigeria</dt>
                             <dd>Lagos:</dd>
                        </dl>
                    </div>
                    <div class="column" style="margin-left: 150px">
                        <dl>
                            <dt>India</dt>
                             <dd>Mumbai:</dd>
                             <dd>New Delhi:</dd>
                             <dd>Calcutta:</dd>
                            <dt>South Korea</dt>
                             <dd>Seoul:</dd>
                            <dt>Vietnam</dt>
                             <dd>Hanoi:</dd>
                             <dd>Ho Chi Minh City:</dd>
                             <dd>Hoi An:</dd>
                            <dt>Australia</dt>
                             <dd>Melbourne:</dd>
                             <dd>Sydney:</dd>
                             <dd>Brisbane:</dd>
                            <dt>Thailand</dt>
                             <dd>Pattaya:</dd>
                            <dt>Indonesia</dt>
                             <dd>Jakarta:</dd>
                             <dd>Jayapura:</dd>
                             <dd>Bandung:</dd>
                            <dt>China</dt>
                             <dd>Beijing:</dd>
                             <dd>Shanghai:</dd>
                             <dd>Guangzhou:</dd>
                             <dd>Xiamen:</dd>
                            <dt>Hong Kong:</dt>
                            <dt>Japan</dt>
                             <dd>Tokyo:</dd>
                             <dd>Osaka:</dd>
                             <dd>Kyoto:</dd>
                            <dt>Taiwan</dt>
                             <dd>Taipei:</dd>
                            <dt>Malasia</dt>
                             <dd>Kuala Lumpur:</dd>
                        </dl>
                    </div>
                </div>
            </p>
        </blockquote>
    </div>
</div>
<div class="text-center card">
    @foreach (string smth in Model)
    {
        <p>@smth</p>
    }
</div>