@model List<string>
@{
    ViewData["Title"] = "Gallery";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<br />

<div class="card">
    <div class="card-header text-center">
        <h1>Gallery</h1>
        <p>Click on a country to view picture galleries of every city</p>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>
                <div class="row">
                    <div class="column" style="margin-left: 150px">
                        <ul>
                            <li><a href="https://www.befunky.com/a/AxvymkA-1617373888296483/">The Netherlands </a></li>
                            <li><a href="https://www.befunky.com/a/An7F6e3-1617374237829352/">Germany </a></li>
                            <li><a href="https://www.befunky.com/a/AWeBNQS-1617374402753718/"> France</a></li>
                            <li><a href="https://images.musement.com/cover/0002/49/big-ben-westminster-bridge-on-river-thames-in-london-jpg_header-148518.jpeg?w=1200&h=630&q=95&fit=crop"> UnitedKingdom</a></li>
                            <li><a href="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rome-getty-1519123754.jpg">Italy</a></li>
                            <li><a href="https://blog.dejongintra.nl/wp-content/uploads/2017/06/Wenen.jpg"> Austria</a></li>
                            <li><a href="https://upload.wikimedia.org/wikipedia/commons/7/75/Bern_luftaufnahme.png"> Switserland</a></li>
                            <li><a href="https://www.reisroutes.be/userfiles/fotos/parthenon_2289_xl.jpg">Greece</a></li>
                            <li><a href="https://content.tui.co.uk/adamtui/2017_8/4_9/18d29e53-ae34-4395-b9be-a7c50096f37c/CYP_PPO_F554WebOriginalCompressed.jpg?i10c=img.resize(width:658);img.crop(width:658%2Cheight:370)">Cyprus</a></li>
                            <li><a href="https://www.src-reizen.nl/cache/image/640x960_a4c902f41e66bd2d_1574932551.jpg">Spain</a></li>
                            <li><a href="https://specials-images.forbesimg.com/imageserve/1064713266/960x0.jpg?fit=scale">Canada</a></li>
                            <li><a href="https://image.newyork.nl/wp-content/uploads/2012/09/Times-Square-in-New-York.jpg">United States</a></li>
                            <li><a href="https://images3.persgroep.net/rcs/_0bZPkATmTvHrfxEk2Vvfj-o4qc/diocontent/40199556/_fitwidth/763?appId=93a17a8fd81db0de025c8abd1cca1279&quality=0.8">Mexico</a></li>
                            <li><a href="https://cdn-statics.brazilian.report/wp-content/uploads/2018/04/rotate-brasilia.jpg">Brazil</a></li>
                            <li><a href="https://lp-cms-production.imgix.net/news/2016/07/quito.jpg?auto=compress&fit=crop&fm=auto&sharp=10&vib=20&w=1200">Ecuador</a></li>
                            <li><a href="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F28%2F2019%2F07%2Fworld-class-design-buenos-aires-BAVISIT0418.jpg&q=85">Argentina</a></li>
                        </ul>
                    </div>
                    <div class="column" style="margin-left: 150px">
                        <ul>
                            <li><a href="https://reisexpert.b-cdn.net/wp-content/uploads/2018/10/Kaapstad-Zuid-Afrika.jpg">South Africa</a></li>
                            <li><a href="https://lp-cms-production.imgix.net/2019-06/8ec64b64e1d0805b1101f6c70c7f5b31-tel-aviv.jpg?">Israel</a></li>
                            <li><a href="https://img.static-rmg.be/a/view/q75/w/h/2117387/abu-dhabi-skyline-jpg.jpg">United Arab Emirates</a></li>
                            <li><a href="https://www.reisroutes.be/userfiles/fotos/cairo-bezienswaardigheden_8119_xl.jpg>Egypt</a></li>
                            <li><a href="https://pix10.agoda.net/geo/city/14932/1_14932_02.jpg?s=1920x822>Turkey</a></li>
                            <li><a href="https://www.reisjunk.nl/wp-content/uploads/2019/04/Petra-Jordanie-bezoeken-tips.jpg">Jordan</a></li>
                            <li><a href="https://cdn.getyourguide.com/img/tour/5b4d4e9c39637.jpeg/148.jpg">Morocco</a></li>
                            <li><a href="https://thumb2.holidaypirates.com/54QVKWdbcH6iE4cV2QIB4EJ_DV0=/1314x600/https://media.mv.urlaubspiraten.de/images/2019/08/5d64de31993450791728578uocltx5.jpg">Russia</a></li>
                            <li><a href="https://www.aljazeera.com/wp-content/uploads/2019/05/4580a92fdb104aab90a918b7737c43d5_18.jpeg?resize=770%2C513">Nigeria</a></li>
                        </ul>
                    </div>
                    <div class="column" style="margin-left: 150px">
                        <ul>
                            <li><a href="https://images.news18.com/static_news18/pix/ibnhome/news18/you-are-killing-me-mumbai/1.jpg">India</a></li>
                            <li><a href="https://img.pixers.pics/pho_wat(s3:700/FO/58/63/63/07/700_FO58636307_9537a2b0d91fdd25230822a04eaf9997.jpg,700,467,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,417,jpg)/fotobehang-seoel-zuid-korea-skyline.jpg.jpg">South Korea</a></li>
                            <li><a href="https://templesandtreehouses.com/wp-content/uploads/2018/04/IMG_4523.jpg">Vietnam</a></li>
                            <li><a href="https://static.rondreis.nl/rondreis-storage-production/bezienswaardigheden-96-sydney-jpg/1024x686/cover/eyJidWNrZXQiOiJyb25kcmVpcy1zdG9yYWdlLXByb2R1Y3Rpb24iLCJrZXkiOiJiZXppZW5zd2FhcmRpZ2hlZGVuXC85Nlwvc3lkbmV5LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MTAyNCwiaGVpZ2h0Ijo2ODYsImZpdCI6ImNvdmVyIn19fQ==">Australia</a></li>
                            <li><a href="https://static.rondreis.nl/rondreis-storage-production/inline-bezienswaardigheden-201811-1543318607-jpg/1000x670/cover/eyJidWNrZXQiOiJyb25kcmVpcy1zdG9yYWdlLXByb2R1Y3Rpb24iLCJrZXkiOiJpbmxpbmVcL2JlemllbnN3YWFyZGlnaGVkZW5cLzIwMTgxMVwvMTU0MzMxODYwNy5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMDAsImhlaWdodCI6NjcwLCJmaXQiOiJjb3ZlciJ9fX0=">Thailand</a></li>
                            <li><a href="https://static.rondreis.nl/rondreis-storage-production/bezienswaardigheden-107-jakarta-jpg/670x449/cover/eyJidWNrZXQiOiJyb25kcmVpcy1zdG9yYWdlLXByb2R1Y3Rpb24iLCJrZXkiOiJiZXppZW5zd2FhcmRpZ2hlZGVuXC8xMDdcL2pha2FydGEuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjo2NzAsImhlaWdodCI6NDQ5LCJmaXQiOiJjb3ZlciJ9fX0=">Indonesia</a></li>
                            <li><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Forbidden_City_Courtyard.jpg/266px-Forbidden_City_Courtyard.jpg">China</a></li>
                            <li><a href="https://www.cosmoconsult.com/fileadmin/user_upload/Deutschland/Standorte/cosmoconsult-hong-kong.jpg">Hong Kong</a></li>
                            <li><a href="https://tokyo.nl/wp-content/uploads/2020/01/tokyo-akihabara-neon-reclame-1024x683.jpg">Japan</a></li>
                            <li><a href="https://upload.wikimedia.org/wikipedia/commons/c/cc/Taipei_skyline_cityscape_at_night_with_full_moon.jpg">Taiwan</a></li>
                            <li><a href="https://static.asiawebdirect.com/m/kl/portals/kuala-lumpur-ws/homepage/practicalinfo/pagePropertiesImage/kl-info.jpg.jpg">Malasia</a></li>
                        </ul>
                    </div>
                </div>
            </p>
        </blockquote>
    </div>
</div>

