@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tourz</h1>
    <p>Your ultimate provider for live/virtual guided tours for over 30 countries!</p>
</div>
