<!DOCTYPE html>

<link rel="icon" type="image/png" href="https://www.favicon.cc/logo3d/90659.png" />

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Tourz_web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/Home/">Tourz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/Home/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/CountriesWeTour">Countries we tour</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/About">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Privacy">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/login">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/sing up">Sign up</a>
            </li>
            <li class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 bg-light text-dark border-dark" type="submit">Search</button>
            </li>
        </ul>
    </div>
</nav>

<body>
  
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Tourz_web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

